<div class="event-page__list-scroll">
    <section class="ui relaxed divided list inverted big event-page__list">
        <article *ngFor="let event of events" class="item event-page__list-item">
            <div class="content">
                <h3 class="">{{event.title}}</h3>
                <div class="">Booked by {{event.author}}</div>
                <div class="">{{event.startDate | date:'EEE, MMM dd'}} {{event.endDate | timeFilter}}</div>
            </div>
        </article>
    </section>
</div>
