<div class="event-list">
  <scroll-fader>
    <section class="ui relaxed divided list inverted big event-list__scroll">
        <div *ngFor="let event of events" class="item event-list__item">
                <div class="event-list__property event-list__property--title">{{event.title}}</div>
                <div *ngIf="event.author" class="event-list__property">Booked by {{event.author}}</div>
                <div class="event-list__property">
                  {{event.startDate | dateFilter}}
                  <ng-container *ngIf="event.startTime">
                  , {{event.startTime | timeFilter}}
                  </ng-container>
                </div>
        </div>
    </section>
  </scroll-fader>
</div>
