@import "~styles/settings";

.event-list {
	&__scroll {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding: 1rem;
	}

	&__item:first-child{
		margin-top: 1rem;
	}

	&__property {
		font-weight: 300;
		margin-bottom: 10px;
		color: #CBCBCB;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__property--title {
		font-size: 1.5rem;
		color: $white;
	}
}
