@import "~styles/settings";

.login-page {
	text-align: center;

	&__form-container {
		display: block;
		margin: 0 auto;
		max-width: 50%;
		min-width: 420px;

		@include phone {
			min-width: 0;
			max-width: 500px;
			width: auto;
		}
	}

	& &__form-container {
		background-color: #34373C;
	}

	& &__header {
		color: $white;
		text-decoration: none;
	}

	& &__input-wrapper {
		color: $white;

		.login-page__input {
			background-color: $black;
			color: $white;
		}
	}

}
