<div class="ui padded grid app-header">
    <div class="six wide column middle aligned">
        <clock class="no-divider"></clock>
        <button (click)="goBack()" class="ui icon button secondary app-header__button app-header__button--back back-button" >
            <i class="arrow left vertical icon"></i>
        </button>
    </div>
    <div class="five wide column middle aligned">
        <span>Choose meeting room</span>
    </div>
    <div class="five wide column middle aligned app-header__right-block logo-wrapper">
        <div class="logo app-header__logo"></div>
        <button class="ui icon button secondary app-header__button app-header__button--menu menu-button">
            <i class="ellipsis vertical icon"></i>
        </button>
    </div>
</div>
