@import "../../../styles/variables";

.room-status {
    min-height: 230px;
    background-color: $green;

    &__first-column {
    	display: flex;
    	justify-content: flex-end;
    	align-items: center;
    	width: 100%;
    	height: 100%;
    }

	&__icon {		

		&--free {			
			width: 154px;
			height: 154px;
			background-image: url("assets/check-circled.png");
		}
		&--busy {			
			width: 110;
			height: 154px;
			background-image: url("assets/sand-watch.png")
		}
	}
}