<div class="app-page event-page">
    <room-status></room-status>
    <div class="ui padded grid event-page__mini-header" [ngClass]="{'event-page__mini-header--free': !currentEvent, 'event-page__mini-header--busy': currentEvent}">
        <div class="six wide column">Book the room</div>
        <div class="ten wide column">Upcoming events</div>
    </div>
    <div class="ui padded grid event-page__list-wrapper">
        <div class="six wide column"></div>
        <div class="ten wide column">
          <event-list [events]="laterEventsList"></event-list>
    </div>
</div>
