@import "~styles/settings";

.event-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	color: $white;

	&__mini-header {
		text-transform: uppercase;
		font-weight: 500;

		&--free {
			background-color: $darkGreen;
		}

		&--busy {
			background-color: $darkRed;
		}
	}

	&__list-wrapper {
		flex: 1 0;
		position: relative;
	}

	&__qrcode {
		margin: 10px 0;
		max-width: 100%;
		overflow: hidden;
	}
}
