@import "../../styles/variables";

.event-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	color: $white;

	&__current-event {
		min-height: 200px;
	}

	&__mini-header {
		text-transform: uppercase;
		font-weight: 600;
	}

	&__list-wrapper {
		flex: 1 0;
		position: relative;
	}

	&__qrcode {
		margin: 10px 0;
	}
}
