.app-page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.current-event {
	min-height: 200px;
}

.mini-header {
	text-transform: uppercase;
	font-weight: 600;
}

.event-list {
	flex: 1 0;
}