@import '~styles/settings';

.clock {
	display: inline-block;;
	vertical-align: middle;

	&__time {
		font-size: 1.5rem;

		@include phone {
			font-size: 1.2rem;
		}
	}
	&__span {
		vertical-align: middle;
	}
}
