<div class="ui grid padded app-page settings-page">
    <div class="ui column sixteen middle aligned">
        <div class="ui segment inverted settings-page__form-container">
            <form novalidate #settingsForm="ngForm" class="ui inverted form settings-page__form">
                <h4 class="ui dividing settings-page__header">Set up your room calendar.</h4>
                <div class="field">
                    <label>Select a calendar</label>
                    <button *ngIf = "!isReady" disabled class="ui button fluid loading settings-page__loader">&nbsp;</button>
                    <div class="settings-page__select-wrapper" *ngIf = "isReady">
                      <select class="settings-page__select" name="room" [(ngModel)]="settings.selectedCalendarId" >
                          <option value="">Select a room</option>
                          <option *ngFor="let calendar of calendarList"  [ngValue]="calendar.id">{{calendar.title}}</option>
                      </select>
                      <i class="angle down icon settings-page__select-icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Maximum events</label>
                    <input class="settings-page__input" name="maxEvents" type="number" [(ngModel)]="settings.maxEvents">
                </div>
                <div class="ui three buttons small">
                  <button type="button" class="settings-page__button ui button attached" (click)="goToEvents()">Show Events</button>
                  <button type="button" [disabled]="!settingsForm.dirty" class="settings-page__button ui button attached" (click)="save()">Save</button>
                  <button type="button" class="settings-page__button ui button attached" [class.loading]="isLoggingOut" (click)="onLogout()">
                    <ng-container *ngIf="settingsForm.dirty">Save And </ng-container>Logout
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
