<div class="ui grid padded app-page settings-page">
    <div class="ui column sixteen middle aligned">
        <div class="ui segment inverted settings-page__form-container">
            <form novalidate #settingsForm="ngForm" class="ui inverted form settings-page__form">
                <h4 class="ui dividing settings-page__title">Welcome to room calendar. Please login.</h4>
                <div class="field">
                    <label>Select a calendar</label>
                    <button *ngIf = "!isReady" disabled class="ui button fluid loading">&nbsp;</button>
                    <select *ngIf = "isReady" name="room" [(ngModel)]="settings.selectedCalendarId" >
                        <option *ngFor="let calendar of calendarList"  [ngValue]="calendar.id">{{calendar.title}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>Maximum events</label>
                    <input name="maxEvents" type="number" [(ngModel)]="settings.maxEvents">
                </div>
                <div class="ui three buttons small blue">
                  <button type="button" class="ui button attached" (click)="goToEvents()">Show Events</button>
                  <button type="button" class="ui button attached" (click)="save()">Save</button>
                  <button type="button" class="ui button attached" [class.loading]="isLoggingOut" (click)="onLogout()">Save And Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>
