@import "~styles/settings";

.settings-page {
    &__form-container {
  		display: block;
  		margin: 0 auto;
  		max-width: 50%;
  		min-width: 420px;
      background-color: #34373C;

  		@include phone {
  			min-width: 0;
  			max-width: 500px;
  			width: auto;
  		}
    }
    &__form {
    }
    &__title {
      color: $white;
      text-align: center;
    }
}
